<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PrefixProd" value="a!" />
		<add key="PrefixTest" value="t!" />
		<add key="AnilistAvatar" value="https://anilist.co/img/icons/android-chrome-512x512.png" />
		<add key="TimeoutGeneral" value="30" />
		<add key="NombreDbFirebase" value="yumiko-1590195019393" />
	</appSettings>
</configuration>